
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
}

img {
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.width-100 {
    width: 100%;
}

.headerStyle .MuiExpansionPanelSummary-content {
    display: flex;
    justify-content: center;
}

.headerStyle #panel1a-header {
    background-color: #000000;
    color: #ffffff;
}

.move {
    left: 500px;
}

.margin-10 {
    margin: 10px;
}

.w3-animate-left {
    position: relative;
    animation: animateright 3s
}

@keyframes animateright {
    from {
        right: 0;
    }
    to {
        right: 100px;
        position: relative
    }
}

.slideIn {
    transform: translateX(0);
}

.slideOut {
    transition: transform 400ms ease-in;
    transform: translateX(-30%);
}

.div-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-detail {
    opacity: 1;
    transition: all 200ms linear;
}

.hide-detail {

    opacity: 0;
    transition: all 200ms linear;
}

.sombrasBotones {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer {
    height: auto;
    overflow: hidden;
    width: 100%;
    line-height: 50px;
    color: white;
    text-align: center;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0d6290;
    opacity: 0.6; /* Opacidad 60% */
}

.footer-arrow{
    width: 35%;
    height: 60px;
    background: #00a2e8;
    position: relative;
    float: right;
    content: "40%";
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-arrow::after{
    position: absolute;
    right: 100%;
    content: "";
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 20px solid #00a2e8;
}

.footer-arrow-principal{
    width: 35%;
    height: 40px;
    background: #00a2e8;
    position: relative;
    float: right;
    content: "40%";
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-arrow-principal::after{
    position: absolute;
    right: 100%;
    content: "";
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 10px solid #00a2e8;
}

.img-responsive {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.caja-texto-presentacion{
    margin: 20px;
    padding: 10px;
    /*box-shadow: 0px 0px 10px grey;*/
    /* width: 90%; */
    /* height: auto; */
    word-wrap: break-word;
    overflow: scroll;
}

.caja-texto-presentacion2{
    margin: 30px 20px 10px 20px;
    padding: 10px;
    background: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 7px;
    box-shadow: 1px 1px 5px grey
}